button {
        width: 80;
        height: 80;
        font-size: 25;
        border: solid;
}
      
.textinput {
        width: 590;
        height: 50;
        border: solid;
        font-size: 25;
        /* TODO: Zmen farbu komponentu*/

}
      
.main {
        position: absolute;
        border: solid;
        /* TODO: Zmen farbu pozadia */
        background: linear-gradient(rgb(161,0,255),black);
}
